<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/main.min.css' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            $.ajax({
                url: 'https://localhost:44367/api/Calendar/GetCalendarEvents',
                method: 'GET',
                success: function (response) {
                    console.log("Calendar Response:", response);
                    var events = response.map(function (event) {
                        return {
                            title: 'event1',
                            start: '2024-02-26',
                            end: '2024-02-29',
                            color: 'green',
                            textColor: 'white'
                        };
                    });
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'dayGridMonth',
                        events: events
                    });

                    calendar.render();
                },
                error: function () {
                    alert('Failed to load events!');
                }
            });
        });

    </script>
</head>
<body>
    <div id='calendar' class="p-3"></div>
</body>
</html>