<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Estimate.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.min.css" asp-append-version="true" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        </head >
        <style >
        .form-select {
            height: 33px;
            font-size: 13px;
        }

        .test-company{
            text-decoration:none !important;
            pointer-events:cursor;
        }
      
    </style>
   
  
    <body>
        <div>
            <nav class="navbar navbar-expand-lg bg-light header-content " style="border-bottom: #808080 1px solid;">
                <div class="container-fluid ">
                    <div>
                        <a class="navbar-brand text-secondary" href="#">Jobs</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">

                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    View jobs Needing
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid overflow-hidden text-center p-0">
                <div class="row m-2">
                    <div class="col-lg-4 bg-light p-0">
                        <div class="p-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="pb-3 px-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="pb-3 px-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <div class="pb-3 px-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>


                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btnlight style="width:180px">Light</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-info" style="width:180px; color:">Info</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-8 p-0">
                        <div class="p-3">
                            <div >
                                <iframe width="680"
                                        height="280"
                                        style="border:0"
                                        loading="lazy"
                                        allowfullscreen
                                        referrerpolicy="no-referrer-when-downgrade"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAFTFsqMLm_po0hSAURG9D_9QmSnMgvAg&q=Space+Needle,Seattle+WA">
                                </iframe>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mx-2">
                    <div class="col border bg-light">
                        <div class="p-3 px-3">
                            <span class="p-1 ps-2 m-2 border bg-secondary-subtle">
                                1
                            </span>
                            <span>
                                Customer Approved
                            </span>
                        </div>
                    </div>
                    <div class="col border bg-light">
                        <div class="p-3 px-3">
                            <span class="p-1 ps-2 m-2 border bg-secondary-subtle">
                                1
                            </span>
                            <span>
                                Needs WorkOrder
                            </span>
                        </div>
                    </div>
                    <div class="col border bg-light">
                        <div class="p-3 px-3">
                            <span class="p-1 ps-2 m-2 border bg-secondary-subtle">
                                1
                            </span>
                            <span>
                                Schedule WorkOrder
                            </span>
                        </div>
                    </div>
                    <div class="col border bg-light">
                        <div class="p-3 px-3">
                            <span class="p-1 ps-2 m-2 border bg-secondary-subtle">
                                1
                            </span>
                            <span>
                                In progress workorder
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-between ">
                    <div class="col-2 d-flex align-items-center m-2">
                        <div>
                            Show
                        </div>
                        <div class="mx-2">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2 d-flex align-items-center m-2">
                        <div>
                            Search
                        </div>
                        <div class="mx-2">
                            <div class="input-group input-group-sm">

                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12">
                        <table class="table table-light border">
                            <thead>
                                <tr>
                                    <th scope="col" class="border">Customer</th>
                                    <th scope="col" class="border">WO</th>

                                    <th scope="col" class="border">ProjectName</th>
                                    <th scope="col" class="border">SiteAddress</th>
                                    <th scope="col" class="border">Type</th>
                                    <th scope="col" class="border">Status</th>
                                    <th scope="col" class="border">Start Date</th>
                                    <th scope="col" class="border">Sale Person</th>
                                    <th scope="col" class="border">Contact</th>
                                </tr>
                            </thead>
                            <tbody id="customerTableBody">
                               
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </body>

    <script>
        function redirectToTestPage(EstimateId, CustomerId) {
           
           
            var testPageUrl = '/Estimate/Test?CustomerId=' + CustomerId + '&EstimateId=' + EstimateId;
            window.location.href = testPageUrl;
        }



        $(document).ready(function () {
            // Function to fetch data from the API and update the table
            function fetchData() {
                $.ajax({
                    url: 'https://localhost:44367/api/Customers',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log('Fetched Data:', data);

                        // Clear existing table rows
                        $('#customerTableBody').empty();

                        // Iterate through the data and append rows to the table
                        $.each(data, function (index, customer) {
                            var estimate = customer.Estimate;
                            $('#customerTableBody').append(
                                '<tr>' +
                                '<td scope="row" onclick="redirectToTestPage(' + customer.Estimate.EstimateId + ',' + customer.CustomerId + ')" class="border"><a href="#" class="test-company">' + customer.CompanyName + '</a></td>' +
                                '<td class="border">' + '' + '</td>' +
                                '<td class="border">' + customer.AccountType + '</td>' +
                                '<td class="border">' + '' + '</td>' +
                                '<td class="border">' + '' + '</td>' +
                                '<td class="border">' + (estimate ? estimate.Status : '') + '</td>' +
                                '<td class="border">' +'' + '</td>' +
                                '<td class="border">' + customer.Salesman + '</td>' +
                                '<td class="border">' + '' + '</td>' +
                                '</tr>'
                            );
                        });
                    },
                    error: function (error) {
                        console.log('Error fetching data:', error);
                    }
                });
            }

            // Call the fetchData function when the document is ready
            fetchData();
        });

    </script>

</html>