<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Estimate.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        </head >
        <style >
        .form-select {
            height: 33px;
            font-size: 13px;
        }

        .border-card {
            border: 1px solid whitesmoke;
        }

        .border-card-2 {
            background-color: #adb5bd;
        }

        .nav-link {
            border-radius: none !important;
        }

        .nav-items-2:hover {
            background-color: #adb5bd;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 12px;
        }

        .font-size-span {
            font-size: 12px;
        }

        th, td {
            border: 1px solid grey;
            text-align: center;
        }

        .countEstimate {
            box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 8px;
            font-size: 12px;
        }

        .newTaskModelReminder{
             display: inline-block;
        }
    </style>


    <body>
        <div>
            <nav class="navbar navbar-expand-lg bg-light header-content " style="border-bottom: #808080 1px solid;">
                <div class="container-fluid ">
                    <div>
                        <a class="navbar-brand text-dark" href="#">Test</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">

                            <li class="nav-item dropdown ">
                                <button type="button" class="btn btn-primary">Close</button>
                                <button type="button" class="btn btn-success">Duplicate</button>
                                <button type="button" class="btn btn-danger">Archive</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="d-flex px-3 p-2">
                <span>Opportunity</span>
                <span class="mx-2">></span>
                <span>Jobs</span>
                <span class="mx-2">></span>
                <span>Test</span>

            </div>
            <hr class="header-content mt-0" style="border-bottom: #808080 1px solid;" />
            <div class="row mx-2">
                <div class="col-3 bg-primary-subtle border-card">
                    <div class="d-flex flex-column">
                        <span>Estimate Approved</span>
                        <span>₹0.00</span>
                    </div>
                </div>
                <div class="col-2   border-card  border-card-2">
                    <div class="d-flex flex-column">
                        <span>Approved</span>
                        <span>₹0.00</span>
                    </div>
                </div>
                <div class="col-3   border-card border-card-2">
                    <div class="d-flex flex-column">
                        <span>Approved Left</span>
                        <span>₹0.00</span>
                    </div>
                </div>
                <div class="col-4  border-card border-card-2">
                    <div class="d-flex flex-column">
                        <span>Invoice</span>
                        <span>0 Open Invoice</span>
                    </div>
                </div>

            </div>

            <div class="row p-0 m-3 card">
                <div class="col-12 p-0 m-0 ">


                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Overview</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Document</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Photos</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Time log</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Downloads</button>                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Photos</button>
                        </div>
                    </nav>
                    <div class="tab-content mx-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <div class="row">
                                <div class="col-4">
                                    <table class="m-2" style="height:300px">
                                        <tr id="">
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Name
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div id="name">
                                                    </div>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-one">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-one" tabindex="-1" aria-labelledby="model-popup-one-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">

                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <label for="nameInput">Enter Name:</label>
                                                                    <input type="text" id="nameInput" class="form-control" placeholder="Enter the new name">
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-outline-info" id="assignName">Save</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Type
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                    </div>
                                                    <!-- Icon trigger button -->
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-two">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-two" tabindex="-1" aria-labelledby="model-popup-two-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-two-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Sales Person
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div id="salesPerson">
                                                    </div>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-three">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-three" tabindex="-1" aria-labelledby="model-popup-three-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-three-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <div class="modal-body">
                                                                        <label for="salepersonInput">Enter SalePersonName:</label>
                                                                        <input type="text" id="salepersonInput" class="form-control" placeholder="Enter the new name">
                                                                    </div>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-outline-info" id="assignSalePerson">Save</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Estimate
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                    </div>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-four">
                                                        <i class="bi bi-gear-fill"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-four" tabindex="-1" aria-labelledby="model-popup-four-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-four-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Project Manager
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <a href="#">
                                                        Test company

                                                    </a>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-five">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-five" tabindex="-1" aria-labelledby="model-popup-five-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-five-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Contact
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                    </div>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-six">
                                                        <i class="bi bi-gear-fill"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-six" tabindex="-1" aria-labelledby="model-popup-six-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-six-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Sape division
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                    </div>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-seven">
                                                        <i class="bi bi-gear-fill"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-seven" tabindex="-1" aria-labelledby="model-popup-seven-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-seven-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Plan
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                    </div>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-eight">
                                                        <i class="bi bi-gear-fill"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-eight" tabindex="-1" aria-labelledby="model-popup-eight-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-eight-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Address
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                    </div>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-nine">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-nine" tabindex="-1" aria-labelledby="model-popup-nine-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-nine-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        Work Orders
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="px-3">
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        None Yet

                                                    </div>
                                                    <div data-bs-toggle="modal" data-bs-target="#model-popup-ten">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-ten" tabindex="-1" aria-labelledby="model-popup-ten-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-ten-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="col-4 bg-light">
                                </div>
                                <div class="col-4">
                                    <div class="m-2 ">
                                        <div>
                                            <div class="px-3 font-size-span">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-column">
                                                        <span> Assigned office location</span>
                                                        <span id="officeLoactionValue"></span>
                                                    </div>
                                                    <div data-bs-toggle="modal" class="mt-2" data-bs-target="#EditEstimateLocation">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="EditEstimateLocation" tabindex="-1" aria-labelledby="Edit_Estimate_Location" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <label for="setOfficeLoactionValue">Set Location:</label>

                                                                    <!-- Custom Styling for Dropdown -->
                                                                    <div class="dropdown mt-2">
                                                                        <button class="btn btn-white dropdown-toggle" type="button" id="SelectLocationButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
                                                                            Select Location
                                                                        </button>
                                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                                            <a class="dropdown-item" href="#">New York</a>
                                                                            <a class="dropdown-item" href="#">Chester, England</a>
                                                                            <a class="dropdown-item" href="#">cardiff, Wales</a>
                                                                            <!-- Add more options as needed -->
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-outline-info">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="m-0" />
                                        </div>
                                        <div>
                                            <div class="px-3 font-size-span">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-column">
                                                        <span> Summary Private Note</span>
                                                        <span>NewYork</span>
                                                    </div>
                                                    <div data-bs-toggle="modal" class="mt-2" data-bs-target="#model-popup-twelve">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-twelve" tabindex="-1" aria-labelledby="model-popup-twelve-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">


                                                                <div class="modal-body">
                                                                    <table>
                                                                        <tr>
                                                                            <th>Summary</th>
                                                                            <th class="ps-2">
                                                                                <textarea cols="20" rows="6" class=" bg-light">

                                                                                </textarea>

                                                                            </th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Public Notes</th>
                                                                            <th class="ps-2">
                                                                                <textarea cols="20" rows="6" class=" bg-light">

                                                                                </textarea>

                                                                            </th>
                                                                        </tr>

                                                                    </table>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-outline-info">Save</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr class="m-0" />

                                        </div>
                                        <div>
                                            <div class="px-3 font-size-span">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-column">
                                                        <span> Work OrderNote</span>
                                                        <span>NewYork</span>
                                                    </div>
                                                    <div data-bs-toggle="modal" class="mt-2" data-bs-target="#WorkOrderNotes">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="WorkOrderNotes" tabindex="-1" aria-labelledby="model-popup-twelve-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">


                                                                <div class="modal-body">
                                                                    <table>
                                                                        <tr>
                                                                            <th>Summary</th>
                                                                            <th class="ps-2">
                                                                                <textarea cols="20" rows="6" class=" bg-light">

                                                                                </textarea>

                                                                            </th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Public Notes</th>
                                                                            <th class="ps-2">
                                                                                <textarea cols="20" rows="6" class=" bg-light">

                                                                                </textarea>

                                                                            </th>
                                                                        </tr>

                                                                    </table>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-outline-info">Save</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr class="m-0" />

                                        </div>
                                        <div>
                                            <div class="px-3 font-size-span">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-column mt-2">
                                                        <span> Confidence Level</span>
                                                    </div>
                                                    <div data-bs-toggle="modal" class="mt-2" data-bs-target="#ConfidenceLevel">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="ConfidenceLevel" tabindex="-1" aria-labelledby="Edit_Estimate_Location" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <label for="setOfficeLoactionValue">Set Location:</label>

                                                                    <!-- Custom Styling for Dropdown -->
                                                                    <div class="dropdown mt-2">
                                                                        <!-- Add "d-flex justify-content-between" to create a flex container with space-between alignment -->
                                                                        <button class="btn btn-white dropdown-toggle border" type="button" id="ConfidenceLevelButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
                                                                            Confidence Level
                                                                        </button>
                                                                        <div class="dropdown-menu" aria-labelledby="ConfidenceLevelMenu">
                                                                            <a class="dropdown-item" href="#">Confident</a>
                                                                            <a class="dropdown-item" href="#">Long Shot</a>
                                                                            <a class="dropdown-item" href="#">Medium</a>
                                                                            <!-- Add more options as needed -->
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-outline-info">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                   

                                                </div>
                                            </div>
                                            <hr class="m-0" />

                                        </div>
                                        <div>
                                            <div class="px-3 font-size-span">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-column">
                                                        <span> Action Needed</span>
                                                    </div>
                                                    <div data-bs-toggle="modal" class="mt-2" data-bs-target="#ActionNeeded">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal model-md" id="ActionNeeded" tabindex="-1" role="dialog">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Assigne Action</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">    
                                                                    <form id="Assigne_Action_Form">
                                                                        <table class="table table-bordered">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Action</td>
                                                                                    <td >
                                                                                        <select class="form-select px-5" id="ActionDropdown" name="Customer2">
                                                                                        </select>
                                                                                    </td>
                                                                                    <td><input type="date"  /></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Notes</td>
                                                                                    <td colspan="2"><textarea class="form-control" id="AssigneActionNotes" name="AssigneActionNotes" ></textarea></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Assigne</td>
                                                                                    <td colspan="2">
                                                                                        <select class="form-select px-5" id="ActionAssigne" name="ActionAssigne">
                                                                                        </select>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="text-left" colspan="3">
                                                                                        <input type="checkbox" id="NotifyViaEmail" name="NotifyViaEmail">
                                                                                        <span class="py-2">&nbsp;Notify via Email</span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer bg-light">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="m-0" />

                                        </div>
                                        <div>
                                            <div class="px-3 font-size-span">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-column">
                                                        <span>Open Task </span>
                                                        <span></span>
                                                    </div>
                                                    <div data-bs-toggle="modal" class="mt-2" data-bs-target="#OpenTaskModel">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal model-md" id="OpenTaskModel" tabindex="-1" role="dialog">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Add New Task</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form id="AddNewTaskForm">
                                                                        <table class="table table-bordered">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Task</td>
                                                                                    <td><input type="text" class="form-control" id="Task" name="Task" required></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Discription</td>
                                                                                    <td colspan="2"><textarea class="form-control" id="TaskNotes" name="TaskNotes"></textarea></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Assignee</td>
                                                                                    <td>
                                                                                        <select class="form-select px-5" id="AssigneeDropdown" name="AssigneeDropdown">
                                                                                        </select>
                                                                                    </td>
                                                                                </tr>
                                                                                
                                                                                <tr>
                                                                                    <td>Due Date</td>
                                                                                    <td><input type="date" class="form-control" id="DueDate" name="DueDate" required></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Reminder</td>
                                                                                    <td class="text-left" >
                                                                                        <div>
                                                                                        <input type="checkbox" id="NotifyViaEmail" name="NotifyViaEmail">
                                                                                        <span class="py-2">&nbsp;Notify via Email</span>
                                                                                        </div>
                                                                                        <div class="newTaskModelReminder">
                                                                                            Remind user <select class="form-select px-5" id="AssigneeDropdown" name="AssigneeDropdown"></select>
                                                                                            dut date and every
                                                                                            <select class="form-select px-5" id="AssigneeDropdown" name="AssigneeDropdown"></select>
                                                                                            hours after due date
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer bg-light">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr class="m-0" />

                                        </div>
                                        <div>
                                            <div class="px-3 font-size-span">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-column">
                                                        <span> Assigned office location</span>
                                                        <span>NewYork</span>
                                                    </div>
                                                    <div data-bs-toggle="modal" class="mt-2" data-bs-target="#model-popup-seventeen">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-seventeen" tabindex="-1" aria-labelledby="model-popup-seventeen-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-seventeen-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr class="m-0" />

                                        </div>
                                        <div>
                                            <div class="px-3 font-size-span">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-column">
                                                        <span> Assigned office location</span>
                                                        <span>NewYork</span>
                                                    </div>
                                                    <div data-bs-toggle="modal" class="mt-2" data-bs-target="#model-popup-eighteen">
                                                        <i class="bi bi-pencil-square" style="color:blue"></i>
                                                    </div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="model-popup-eighteen" tabindex="-1" aria-labelledby="model-popup-eighteen-label" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="model-popup-eighteen-label">Your Modal Title</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <!-- Modal Body -->
                                                                <div class="modal-body">
                                                                    <!-- Your modal content goes here -->
                                                                    <p>This is your modal content.</p>
                                                                </div>
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <!-- Add additional buttons if needed -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr class="m-0" />

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
                        <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
                    </div>
                </div>

            </div>
            <div class="row p-0 mx-3 ">
                <div class="col-12 p-0 m-0 bg-light ">
                    <div class=" d-flex justify-content-between px-3 pt-3">
                        <div class="">
                            <span class="" style="font-size:17px">Estimate</span>
                        </div>
                        <div>
                            <button class="btn btn-success" id="estimateButton">Estimate</button>
                        </div>

                        <div class="modal" tabindex="-1" role="dialog" id="myModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">New Estimate</h5>

                                    </div>
                                    <div class="modal-body">
                                        <form id="postDataForm">
                                            <table class="table">

                                                <tbody>
                                                    <tr>
                                                        <th scope="row"> <label for="name">Name:</label></th>
                                                        <td>   <input type="text" id="estimateName" name="Name" value="value002" class="form-control" required></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row"> <label for="type">Type:</label></th>
                                                        <td>  <input type="text" id="type" name="Type" value="value" class="form-control" required></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row"> <label for="notes">Notes:</label></th>
                                                        <td colspan="2">  <input type="text" id="notes" name="Notes" value="value" class="form-control" required></td>
                                                                                                            </tr>
                                                    <tr>
                                                        <th scope="row">  <label for="depositAmount">Deposit:</label></th>
                                                        <td colspan="2">
                                                            <input type="number" id="depositAmount" name="DepositAmount" value="123.45" class="form-control"
                                                                   required>
                                                        </td>
                                                                                                            </tr>
                                                    <tr>
                                                        <th scope="row"> <label for="options">Option:</label></th>
                                                        <td colspan="2">
                                                            <div class="form-group">
                                                                <label for="hidePhaseTotal" style="padding-right: 27px;">HidePhaseTotal:</label>
                                                                <input type="checkbox" id="hidePhaseTotal" name="HidePhaseTotal" checked class="form-check-input">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="displayDiscountAmountOnPrintable" style="padding-right: 27px;">DisplayDiscountAmountOnPrintable:</label>
                                                                <input type="checkbox" id="displayDiscountAmountOnPrintable"
                                                                       name="DisplayDiscountAmountOnPrintable" checked class="form-check-input">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="hideEstimateTotal" style="padding-right: 27px;">HideEstimateTotal:</label>
                                                                <input type="checkbox" id="hideEstimateTotal" name="HideEstimateTotal" checked class="form-check-input">
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>





                                            <!-- Repeat the same structure for other form elements -->



                                            <div class="form-group d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="close-modal" data-dismiss="modal">Close</button>
                                        <!-- Add additional buttons if needed -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-0 d-flex px-3">
                        <span class="d-flex justify-content-center align-items-center px-3 bg-light border-2 mb-2 countEstimate" style=" height:25px">
                            <p id="countEstimateId" class="mb-0"></p>
                        </span>
                        <span class="d-flex justify-content-center align-items-center px-3 bg-light border-2 mb-2 countEstimate" style=" height:25px">
                            <p id="dateEstimateCreated" class="mb-0"></p>
                        </span>
                        <div class="d-flex justify-content-center align-items-center mb-2 px-2">
                            <a href="#" id="dataEstimateName" style="font-size:12px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var CustomerId = new URLSearchParams(window.location.search).get('CustomerId');
        var EstimateId = new URLSearchParams(window.location.search).get('EstimateId');
        $('#countEstimateId').text('#1000' + EstimateId);

        var EstimateDetails = '';
        getEstimateById(EstimateId)
        function getEstimateById(EstimateId) {
            $.ajax({
                url: 'https://localhost:44367/api/Estimates/' + EstimateId,
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    EstimateDetails = data;
                    var fullDateTime = EstimateDetails.DateCreated;
                    var datePart = fullDateTime.split(' ')[0];
                    $('#dateEstimateCreated').text(datePart);
                    $('#dataEstimateName').text(EstimateDetails.Name);
                    console.log()
                },
                error: function (error) {
                    console.error('Error fetching customer data:', error);

                }
            });
        }

        fetchCustomerData(CustomerId);
        function fetchCustomerData(customerId) {
            $.ajax({
                url: 'https://localhost:44367/api/customers/' + customerId,
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    populateTableRow(data);
                    console.log(data)
                },
                error: function (error) {
                    console.error('Error fetching customer data:', error);

                }
            });
        }

        function populateTableRow(customerData) {

            $('#name').html(` ${customerData.FirstName}`);
            $('#nameInput').val(`${customerData.FirstName}`);
            $('#salepersonInput').val(`${customerData.Salesman}`);
            $('#salesPerson').html(` ${customerData.Salesman}`);
            $('#setOfficeLoactionValue').val($('#officeLoactionValue').text());
        }


        $(document).ready(function () {
            $("#estimateButton").click(function () {
                // Show the modal
                $('#myModal').modal('show');
            });

            // Attach a click event to the modal close button
            $("#close-modal").click(function () {
                // Close the modal
                $('#myModal').modal('hide');
            });
        });

        //post the estimate
        document.getElementById('postDataForm').addEventListener('submit', function (e) {
            e.preventDefault();

            // Get form data
            const formData = {
                "UserId": EstimateDetails.UserId,
                "LeadsId": EstimateDetails.LeadsId,
                "Name": document.getElementById('estimateName').value,

                "Notes": document.getElementById('notes').value,

                "Type": document.getElementById('type').value,

                "HidePhaseTotal": document.getElementById('hidePhaseTotal').checked,
                "DisplayDiscountAmountOnPrintable": document.getElementById('displayDiscountAmountOnPrintable').checked,
                "HideEstimateTotal": document.getElementById('hideEstimateTotal').checked,
                "DepositAmount": parseFloat(document.getElementById('depositAmount').value),

            };


            // Make AJAX request
            fetch('https://localhost:44367/api/Estimates', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',f
                },
                body: JSON.stringify(formData),
            })
                .then(response => {
                    console.log('Raw Response:', response);
                    return response.json();
                })
                .then(data => {
                    console.log('Successfully posted:', data);

                    // Check if the server response contains EstimateId
                    if (data) {
                        EstimateId = data.Result
                        var testPageUrl = '/Estimate/Test?CustomerId=' + CustomerId + '&EstimateId=' + EstimateId;
                        window.location.href = testPageUrl;

                    } else {
                        console.log('EstimateId not found in the response:', data);
                    }


                    // Close the modal if needed
                    document.getElementById('myModal').style.display = 'none';
                })
                .catch((error) => {
                    console.error('Error:', error);
                });




        });

        $("#assignName").click(function () {
            var nameInput = document.getElementById("nameInput");
            $.ajax({
                url: 'https://localhost:44367/api/customers/' + CustomerId + '/AssignName',
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({ FirstName: nameInput.value }),
                success: function (response) {
                    console.log('Name assigned successfully:', response);
                    $('#model-popup-one').modal('hide');
                },
                error: function (error) {
                    console.error('Error assigning name:', error);
                }
            });
        });
        $("#assignSalePerson").click(function () {
            var salepersonInput = document.getElementById("salepersonInput");
            $.ajax({
                url: 'https://localhost:44367/api/customers/' + CustomerId + '/assignsaleperson',
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({ Salesman: salepersonInput.value }),
                success: function (response) {
                    console.log('Name assigned successfully:', response);
                    $('#model-popup-three').modal('hide');
                },
                error: function (error) {
                    console.error('Error assigning name:', error);
                }
            });
        });


        $("#EditEstimateLocation .modal-footer .btn-outline-info").click(function () {
            var selectedOption = $("#SelectLocationButton").attr("data-selected");

            if (selectedOption && selectedOption !== "Select Location") {
                const putData = {
                    Estimate_Location: selectedOption
                };

                $.ajax({
                    url: `https://localhost:44367/api/Estimates/editEstimateLocation/${EstimateId}`,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(putData),
                    success: function (response) {
                        console.log('Location updated successfully:', response);
                        $('#officeLoactionValue').text(selectedOption);
                      //  $('#EditEstimateLocation').modal('hide');
                    },
                    error: function (error) {
                        console.error('Error updating location:', error);
                    }
                });
            } else {
                console.warn('Please select a valid option before saving.');
            }
        });

        $("#EditEstimateLocation .dropdown-menu a").click(function () {
            $("#SelectLocationButton").text($(this).text());
            $("#SelectLocationButton").attr("data-selected", $(this).text());
        });

    </script>
</html>