@{
	ViewData["Title"] = "Leads";
}
<head>
	<link rel="stylesheet" href="~/css/Opportunity.css" asp-append-version="true" />
</head>
<div class="row p-0 m-0 ">
	<div class="col-lg-9 col-12 p-0 m-0">
		<div class="d-flex flex-lg-row flex-column justify-content-between  bg-color border border-start-0 border-top-0 p-4">
			<div>
				<h3>
					Opportunity
				</h3>
			</div>
			<div>
				<button type="button" class="btn btn-warning">View Archieved</button>
				<button type="button" class="btn btn-success mt-3 mt-lg-0" data-bs-toggle="modal" data-bs-target="#addOpportunityModal">Start New Opportunity</button>
			</div>
		</div>
		<div class="row p-3 m-0  border border-start-0 border-top-0">
			<div class="col-lg-4 col-12 opportunity_select">
				<div class="border gap-2  bg-color p-3">
					<input class="form-control mb-3  bg-color" type="search" placeholder="Search" aria-label="Search">

                    <select class="form-select mb-3 opportunity_select" aria-label="Default select example" id="badgeTextDropdown">
						<option selected>Select a Status</option>
						
					</select>
                    <select class="form-select mb-3 opportunity_select" aria-label="Default select example">
						<option selected>Open this select menu</option>
						
					</select>
                    <select class="form-select mb-3 opportunity_select" aria-label="Default select example">
						<option selected>Sales a SalesPerson</option>
						
					</select>
                    <div class="d-flex justify-content-between">
					    <div class="form-check mb-3">
						    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
						    <label class="form-check-label" for="flexCheckDefault">
							    Needs Scheduling
						    </label>
					    </div>
                        <a id="moreOption">More Option</a>
                    </div>
                    <div id="CityCounty" style="display: none;">
                        <!-- Additional fields initially hidden -->
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="City" id="City" >
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="County" id="County" >
                        </div>
                    </div>

					<div class="d-flex justify-content-evenly p-0 m-0">
                        <button type="button" class="btn btn-light text-black border-0 px-5 opportunity_select">Clear</button>
                        <button type="button" class="btn btn-primary opportunity_select   px-5">Filter</button>
					</div>
				</div>
			</div>
			<div class="col-8 d-lg-block d-none border p-0 m-0">
			</div>

			<div class="pe-0 mt-3 m-0">
				<div class="d-flex text-center border ps-3">
					<div class="col-4  border d-flex align-items-center justify-content-center bg-color p-2">
						<p class="mb-0 text-secondary"><span class="badge text-white">0</span>&nbsp;Open</p>
					</div>
					<div class="col-4  border d-flex align-items-center justify-content-center bg-color p-2">
						<p class="mb-0 text-secondary"><span class="badge text-white">0</span>&nbsp;Pending</p>
					</div>
					<div class="col-4 border d-flex align-items-center justify-content-center bg-color p-2">
						<p class="mb-0 text-secondary"><span class="badge text-white">0</span>&nbsp;Project Templates</p>
					</div>
				</div>
			</div>
			<div class="mt-3 p-3 table-responsive">
                <table id="opportunityTable" class="table table-striped" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">Created</th>
                            <th scope="col">Modified</th>
                            <th scope="col">Status</th>
                            <th scope="col">Name/Number</th>
                            <th scope="col">Address</th>
                            <th scope="col">Salesperson</th>
                            <th scope="col">Action</th>
                            <th scope="col">Due Date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <!-- Table body content will be dynamically populated by the script -->
                    </tbody>
                </table>
			</div>
			<!-- Modal -->
            <div class="modal fade  " id="addOpportunityModal" tabindex="-1" aria-labelledby="addLeadModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable ">
                    <div class="modal-content  opportunity_model h-75 w-75">
                        <div class="modal-header">
                            <p class="modal-title" id="addLeadModalLabel">Start New Opportunity</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="opportunityForm">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Customer:</td>
                                            <td>
                                                <select class="form-select" id="customerDropdown"  name="Customer">
                                                  
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="2"><strong>New Customer Details</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="2"> <input type="checkbox" id="businessAccount" name="BusinessAccount"> Business Account</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Company Name:</td>
                                            <td><input type="text" class="form-control" id="CompanyName" name="CompanyName" required></td>
                                        </tr>
                                        <tr>
                                            <td>First Name:</td>
                                            <td><input type="text" class="form-control" id="FirstName" name="FirstName" required></td>
                                        </tr>
                                        <tr>
                                            <td>Last Name:</td>
                                            <td><input type="text" class="form-control" id="LastName" name="LastName" required></td>
                                        </tr>
                                        <tr>
                                            <td>Phone:</td>
                                            <td><input type="text" class="form-control" id="phone" name="Phone" required></td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td><input type="email" class="form-control" id="email" name="Email" required></td>
                                        </tr>
                                        <tr>
                                            <td>Type:</td>
                                            <td><input type="text" class="form-control" id="type" name="Type"></td>
                                        </tr>
                                        <tr>
                                            <td>Source:</td>
                                            <td><input type="text" class="form-control" id="source" name="Source"></td>
                                        </tr>
                                        <tr>
                                            <td>Location:</td>
                                            <td><input type="text" class="form-control" id="location" name="Location"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="2"><strong>Opportunity Information</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Name/Number:</td>
                                            <td><input type="text" class="form-control" id="opportunityName" name="OpportunityName"></td>
                                        </tr>
                                        <tr>
                                            <td>Plan Name:</td>
                                            <td><input type="text" class="form-control" id="planName" name="PlanName"></td>
                                        </tr>
                                        <tr>
                                            <td>Subdivision:</td>
                                            <td><input type="text" class="form-control" id="subdivision" name="Subdivision"></td>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td><input type="text" class="form-control" id="address" name="Address"></td>
                                        </tr>
                                        <tr>
                                            <td>County:</td>
                                            <td><input type="text" class="form-control" id="county" name="County"></td>
                                        </tr>
                                        <tr>
                                            <td>Salesperson:</td>
                                            <td>
                                                <select class="form-select" id="salespersonDropdown" name="Salesperson">
                                                  
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Type:</td>
                                            <td><input type="text" class="form-control" id="opportunityType" name="OpportunityType"></td>
                                        </tr>
                                            
                                        <tr>
                                            <td>Private Notes:</td>
                                            <td><textarea class="form-control" id="privateNotes" name="PrivateNotes" rows="3"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Options:</td>
                                            <td>
                                                <p>job is within the city Limits?</p>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="withinCityLimit" id="withinCityYes" value="yes">
                                                    <label class="form-check-label" for="withinCityYes">Yes</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="withinCityLimit" id="withinCityNo" value="no">
                                                    <label class="form-check-label" for="withinCityNo">No</label>
                                                </div>

                                                <p>is this job is permitted?</p>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="jobPermitted" id="jobPermittedYes" value="yes">
                                                    <label class="form-check-label" for="jobPermittedYes">Yes</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="jobPermitted" id="jobPermittedNo" value="no">
                                                    <label class="form-check-label" for="jobPermittedNo">No</label>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="saveButton" type="button" class="btn btn-primary" >Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>

	<div class="col-4">
		<div id="toast-container" class="toast-container"></div>
	</div>
</div>

<script>
    $(document).ready(function () {

        //More Option Login
        function toggleAdditionalFields() {
            $('#CityCounty').toggle();
        }

        // Click event for the "More Option" link
        $('#moreOption').on('click', function () {
            toggleAdditionalFields();
        });

        //Save Button Logic 
        $('#saveButton').on('click', function () {

            const fetchCustomerName = $('#customerDropdown').val();
            console.log(fetchCustomerName);

            // Assuming you have an API endpoint to fetch customerId based on customer name
            const customerIdApiUrl = 'https://localhost:44367/api/Customers/GetCustomerId/?name=' + fetchCustomerName;

            // Ajax request to fetch customerId
            $.ajax({
                url: customerIdApiUrl,
                type: 'GET',
                dataType: 'json', // Explicitly set the expected data type
                success: function (customerIdData) {

                    const customerId = customerIdData && customerIdData.CustomerId;

                    // Once you have the customerId, include it in the formData
                    const formData = {
                        CompanyName: $('#CompanyName').val(),
                        FirstName: $('#FirstName').val(),
                        LastName: $('#LastName').val(),
                        ProjectName: $('#ProjectName').val(),
                        // CustomerName: $('#customerDropdown').val(),
                        UserId: 1,
                        customerId: parseInt(customerId) // Include the fetched customerId here
                    };

                    // API endpoint URL
                    const apiUrl = 'https://localhost:44367/api/Opportunities';

                    // Ajax request to the API
                    $.ajax({
                        url: apiUrl,
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function (data) {
                            console.log('Opportunity created successfully:', data);
                            window.location.href = '@Url.Action("Opportunity", "Home")';

                            // Add any further handling here
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.error('Error fetching opportunities:', errorThrown);
                            console.log('Error response:', xhr.responseText);

                            // Handle the error response as needed
                        }
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error fetching customerId:', errorThrown);
                    console.log('Error response:', xhr.responseText);

                    // Handle the error response for fetching customerId
                }
            });
        });
    });


    //Display Opportunity Table
    $(document).ready(function () {
        // Function to retrieve and display opportunities
        function getOpportunities() {
            const apiUrl = 'https://localhost:44367/api/Opportunities';

            $.ajax({
                url: apiUrl,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    $.each(data, function (index, opportunity) {
                        
                        // Assuming the opportunity object has properties like Customer, Created, Modified, etc.
                        const row = `<tr>
                                <td>${opportunity.CustomerId}</td>
                                <td>${opportunity.CreatedBy}</td>
                                <td>${opportunity.ModifiedBy}</td>
                                <td>${opportunity.Status}</td>
                                <td>${opportunity.Name}</td>
                                <td>${opportunity.Address1}</td>
                                <td>${opportunity.Salesperson}</td>
                                <td>${opportunity.Action}</td>
                                <td>${opportunity.DueDate}</td>
                           
                        </tr>`;

                        // Append the row to the table body
                        $('#tableBody').append(row);
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error fetching opportunities:', errorThrown);
                    xhr.text().then(errorMessage => {
                        console.log('Error message:', errorMessage);
                    });
                }
            });
        }

        // Call getOpportunities function on page load
        getOpportunities();
    });
    //Displaying Customer Name and SalesPerson in DropDown Button
    $(document).ready(function () {

        let badgeTextArray = JSON.parse(localStorage.getItem("badgeTextArray")) || [];

        // Populate the badgeText values in the dropdown select
        badgeTextArray.forEach(function (badgeText) {
            const badgeOption = `<option value="${badgeText}">${badgeText}</option>`;
            $('#badgeTextDropdown').append(badgeOption);
        });

        function getOpportunities() {
            const apiUrl = 'https://localhost:44367/api/Customers';

            $.ajax({
                url: apiUrl,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    $.each(data, function (index, opportunity) {
                        
                        // Assuming the opportunity object has properties like Customer, Created, Modified, etc.
                        const CustomerName = `<option value="${opportunity.CompanyName}">${opportunity.CompanyName}</option>`;

                        // Append the row to the table body
                        $('#customerDropdown').append(CustomerName);
                       

                        const SalesPersonName = `<option value="salesperson1">${opportunity.Salesman}</option>`;

                        // Append the row to the table body
                        $('#salespersonDropdown').append(SalesPersonName);
                    });   
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error fetching opportunities:', errorThrown);
                    xhr.text().then(errorMessage => {
                        console.log('Error message:', errorMessage);
                    });
                }
            });
        }

        // Call getOpportunities function on page load
        getOpportunities();
    });

</script>
